@* @page "/" *@
@page "/sko"
@using DevExpress.AI.Samples.Blazor.Data
@using DevExpress.AIIntegration.Blazor.Chat
@using AIIntegration.Services.Chat;
@using Microsoft.SemanticKernel.ChatCompletion
@using System.Diagnostics
@using System.Text.Json
@using System.Text

<style>
    .centered-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    }

    .carousel-container {
    width: 280px;
    height: 350px;
    }

    .carousel-button {
    width: 280px;
    }

    .my-container {
        position: relative;
        height: 500px;
        width: 500px;
    }

    .my-button {
        position: absolute;
        z-index: 1;
        right: 64px;
        bottom: 16px;
        height: 32px;
        width: 64px;
    }
</style>

<div class="my-container">
    <DxButton Text="Attach" CssClass="my-button" Click="SendMessageCustom"></DxButton>
    <DxButton Text="Send" CssClass="my-button" Click="SendMessageCustom"></DxButton>
@*     <DxAIChat CssClass="my-chat" MessageSent="MessageSent" @ref="dxAIChat"> *@
<DxAIChat MessageSent="MessageSent" @ref="dxAIChat">
    <MessageTemplate>
        <div>


            @{
                if (@context.Typing)
                {
                    <span>Loading...</span>
                    
                }
                else
                {
                    MessageData md = null;

                    try
                    {
                        if (context.Role == ChatMessageRole.User)
                        {
                            md = PreProcessUserMessage(context.Content);
                        }
                        md = JsonSerializer.Deserialize<MessageData>(context.Content);
                    }
                    catch
                    {
                        md = null;
                    }
                    if (md == null)
                    {
                        <div class="my-chat-content">
                            @context.Content
                        </div>
                    }
                    else
                    {
                        if (md.MessageTemplateName == "Options")
                        {
                            <div class="centered-carousel">
                                <Carousel class="carousel-container" Width="280" IsFade="true">
                                    @foreach (var option in md.Options)
                                    {
                                        <CarouselItem>
                                            <ChildContent>
                                                <div>
                                                    <img src="@option.Image" alt="demo-image" />
                                                    <Button Color="Color.Primary" OnClick="() => OptionClicked(option, md)" class="carousel-button">@option.Description</Button>
                                                </div>
                                            </ChildContent>
                                        </CarouselItem>
                                    }
                                </Carousel>
                            </div>
                        }
                        if (md.MessageTemplateName == "Message")
                        {
                            <div class="my-chat-content">
                                @md.Message
                            </div>
                        }
                    }
                }
                

             
            }
        </div>
    </MessageTemplate>
</DxAIChat>
</div>

@inject IChatCompletionService chatCompletionsService ;
@inject IJSRuntime JSRuntime;


@code {


}